@use "./variables" as *;
.Banner {
  position: relative;
  display: flex;
  margin-bottom: 2.5rem;
  @media screen and (width <= 768px) {
    margin-bottom: 0.5rem;
  }
  img {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: rgb(149 157 165 /20%) 0px 8px 24px;
    @media screen and (width <= 768px) {
      border-radius: 10px;
      height: 220px;
    }
  }
  > span {
    position: absolute;
    top: 80%;
    right: 50%;
    color: $color-secondary;
    font-weight: 100;
    font-size: 0.8rem;
    opacity: 0.8;
  }
}
.btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 1.5rem;
  color: $color-secondary;
  z-index: 1;
  cursor: pointer;
  &-previous {
    left: 1rem;
  }
  &-next {
    right: 1rem;
  }
}
.slideBannerStyle {
  @media screen and (width >= 768px) {
    height: 440px;
  }
}
.aboutBannerStyle {
  @media screen and (width >= 768px) {
    height: 220px;
  }
}
