@use "./variables" as *;
.error {
  color: $color-primary;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  h1 {
    margin-top: 0em;
    font-size: 200px;
    margin-bottom: 0;
    @media screen and (width <= 768px) {
      font-size: 120px;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
  a {
    color: $color-primary;
    &:hover {
      cursor: pointer;
    }
  }
}
