@use "./variables" as *;
.footer {
  display: grid;
  place-items: center;
  height: 209px;
  background: $background-color-footer;
  color: $color-secondary;
  font-size: 24px;
  margin-top: 2rem;
  & img {
    padding-top: 40px;
    height: 60px;
    width: 163px;
  }
}
@media screen and (width <= 768px) {
  .footer {
    font-size: 12px;
    height: 150px;
    & img {
      height: 40px;
    }
  }
}
