.Format {
  padding-inline: 3rem;
}
.html {
  height: 100%;
}
@media screen and (width <= 768px) {
  .Format {
    padding-inline: 1rem;
  }
}
.FlexForFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Monserrat", sans-serif;
}
