.main {
  padding-inline: 3rem;
}
.html {
  height: 100%;
}
@media screen and (width <= 768px) {
  .main {
    padding-inline: 1rem;
  }
}
.FlexForFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
