@use "./variables" as *;
.logements {
  div:first-child {
    @media screen and (width > 768px) {
      margin-bottom: 1.5rem;
    }
  }
  color: $color-primary;
  &_display_description {
    display: flex;
    gap: 2rem;
    @media screen and (width <= 768px) {
      flex-direction: column;
      gap: 0;
    }
  }
}
